body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  /* background-color: #6b6868; */
  background-color: #6da9ed;
}

/*?MAIN*/
.holder {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  color: #2e64a1;
  font-weight: 400;
}